.footer {
  padding: var(--padding-sm) var(--margin-sm);
  margin: 0 auto;
  background-color: var(--secondary-background-color);
}

.footer__social-links {
  text-align: center;
}

.footer__contract a{
  color: var(--important-color-green);
}

.footer__icon {
  margin-right: 2rem ;
  font-size: var(--font-size-lg);
}

@media screen and (min-width: 500px) {

  .footer {
    font-size: var(--font-size-xsm);
    text-align: center;
  }
  .footer__icon {
    font-size: var(--font-size-md);
  }
}



