.footer {
  padding: var(--padding-sm) var(--margin-sm);
  margin: 0 auto;
  background-color: var(--secondary-background-color);
}

.footer__social-links {
  text-align: center;
}

.footer__info {
  font-size: var(--font-size-sm);
}

.footer__icon {
  margin-right: 2rem ;
  font-size: var(--font-size-lg);
}



