.header {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: box-shadow 0.25s ease-in;
}

.header.active {
  box-shadow: 0 1px 0.5rem var(--transparent-light-color);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.navbar__menu {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: var(--font-size-sm);
  color: var(--light-color);
}

.logo__image {
  display: inline;
}

.navbar__menu {
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color: var(--secondary-background-color);
  transition: opacity 0.25s ease-in;
  gap: var(--gap);
  opacity: 0;
  transform: scale(0);
}

.navbar__menu.active {
  opacity: 1;
  transform: scale(1);
  box-shadow: 1px 1px 0.5rem var(--transparent-light-color);
}

.navbar__menu-item.current {
  color: var(--light-color);
}

.navbar__buttons {
  gap: var(--gap);
  display: flex;
}

.navbar__menu-item:hover {
  color: var(--light-color);
}

.wallet-login-btn {
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 2px;
}

.navbar__menu-item-social-icon {
  margin-right: var(--margin-sm);
  align-self: baseline;
}


.wallet-connect__btn--connected {
  background-color: var(--primary-background-color);
  color:var(--light-color-alt) ;
}


.wallet-connect:hover {
  background-color:rgb(3, 139, 189) ;
}

.wallet-address-title{
  margin-left: 1rem;
}

.wallet-login-icon {
  margin-left: 1rem;
}

.user-icon-container{
  border-radius: 50%;
  padding: 0.3rem;
  background-color: rgb(70, 161, 194);
}
@media screen and (min-width: 800px) {
  .navbar__menu {
    position: initial;
    width: initial;
    padding: initial;
    background-color: transparent;
    transition: initial;
    flex-direction: row;
    opacity: 1;
    transform: scale(1);
    box-shadow: none;
  }
  .screen-lg-hidden {
    display: none;
  }
}
